# Database
MYSQL_HOST=localhost
MYSQL_USER=nguyenthuong
MYSQL_PASSWORD=nguyenthuong01
MYSQL_DB=personal_scheduler
MYSQL_PORT=3306

# Ollama
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=mistral

# Flask
FLASK_ENV=development
SECRET_KEY=your-secret-key-for-development
DEBUG=TrueEBUG=True
